[Desktop Entry]
Name=Diceware Password Generator FLTK
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=go-fltk-diceware
Icon=com.charlesmknox.go-fltk-diceware
Comment=Generates secure passwords that work with most websites.
Categories=
